@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"PT Sans", sans-serif;
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: #fff;
    box-shadow: 0 0 10px 10px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    width: 400px;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
}

header button {
    background-color: transparent;
    color: rgb(172, 146, 146);
    font-size: 1.5rem;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.fav-container {
    background-color: rgb(238, 238, 238);
    padding: 0.25rem 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    cursor: pointer;
    position: relative;
    margin: 5px;
    width: 75px;
}

.fav-meals li .clear {
    background-color: transparent;
    border: none;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;
}

.fav-meals li:hover .clear {
    opacity: 1;
}

.fav-meals li img {
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px 10px #3333331a;
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    display: inline-block;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.meal {
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    margin: 1.5rem;
    overflow: hidden;
    cursor: pointer;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.meal-header img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.meal-body h4{
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    color: #808a8b;
    cursor: pointer;
    font-size: 1.2rem;
}

.meal-body .fav-btn.active {
    color: red;
}

.popup-container {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    padding: 0 2rem;
    border-radius: 5px;
    max-width: 600px;
    max-height: 100vh;
    overflow: auto;
    margin: 2rem;
    width: 100%;
}

.popup .close-popup {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.meal-info h1 {
    text-align: center;
}
